# Output of the build
bin1-bootstrap/
bin1/
dlib1/
bin2-bootstrap/
bin2/
dlib2/
bin/
dlib/
.depend

# Amiga header files - not to be checked in
include/amiga13
include/amiga20
include/amiga30

# IDE metadata
.vscode/
